<html>
    <head>
        <style>
            body {
                background-color: black;
                color: white;
            }
            input[type="submit"] {
                background: none;
                color : aqua;/* Set the color you want for the text */
                padding: 5px;
                text-decoration: underline; /* Underline the text to make it look like a hyperlink */
                cursor: pointer; /* Change cursor to pointer on hover */
                margin-top: 5px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            input[type="submit"]:hover {
                transform: scale(1.1); /* Increase the size on hover */
                 /* Change border color on hover if desired */
            }
            button {
                background: none;
                border: none;
                cursor: pointer; /* Change cursor to pointer on hover */
                margin-top: 5px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        </style>
    </head>
    <script th:inline="javascript">
        var contest_id = /*[[${id}]]*/ '';
        var question_id = /*[[${qid}]]*/ '';
        console.log(id);
    </script>
    <body>
        <div style = "display: flex;">
            <div>
                <img src = "log.jpeg" style = "width: 250px; height: 100px;">
            </div>
            <div style = "display: flex; margin-left: auto; text-align: center; height: 40px; margin-top: 10px;">
                <form action = "/profile" method = "post" style = "margin-right: 20px; margin-left: 20px;">
                    <input type = "submit"  value = "My Profile">
                </form>

                <form action = "/logout" method = "post" style = "margin-right: 20px;">
                    <input type = "submit"  value = "Logout">
                </form>
            </div>
        </div>

        <div style = "display: flex; margin-top: 10px; align-items: center; margin-bottom: 20px;">
            <div style = "display: flex; height: 40px; font-size: 15px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <form action = "/home" method = "post" style = "margin-right: 20px;">
                    <input type = "submit"  value = "Home">
                </form>
    
                <form action = "/contest-list" method = "get" style = "margin-right: 20px;">
                    <input type = "submit"  value = "Contests">
                </form>
    
                <form action = "/practice-course" method = "post" style = "margin-right: 20px;">
                    <input type = "submit"  value = "DSA Course">
                </form>
    
                <form action = "" method = "post" style = "margin-right: 20px;">
                    <input type = "submit"  value = "Problemset">
                </form>

                <form action = "" method = "post" style = "margin-right: 20px;">
                    <input type = "submit"  value = "Rating">
                </form>

                <form action = "" method = "post" style = "margin-right: 20px;">
                    <input type = "submit"  value = "Help">
                </form>
            </div>

            <div style = "margin-left: auto;">
                <form action = "/search" method = "post" style = "margin-left: auto; height: 40px; margin-top: 10px;">
                    <input type = "text" style = "width: 400px; height: 30px;" name = "search-value" placeholder = "Search">
                    <input type = "submit" value = "Go" style = " margin-left: 20px;">
                </form>
            </div>
        </div>
        <div class = "tutorial-text" style = "font-size: 14px; font-family: 'Nunito', sans-serif; font-weight: 500;;">
            <h1 style = "text-align: center; font-size: 20px; line-height: 20px; text-decoration: none solid rgb(34, 34, 34); font-family: Verdana, Geneva, Tahoma, sans-serif;"> 
                <span th:text="${question_name}"></span>
            </h1>
            <p style = "word-spacing: 2px;" id = "para1">
                <span th:text="${question}"></span>
            </p>
        </div>
        <div>
            <img id = "tut-img" style = "width: 30%;">
        </div>
        <script>
            var link = "sol" + question_id + ".png";
            document.getElementById("tut-img").src = link;
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var paragraph = document.getElementById("para1");
                var text = paragraph.innerHTML;
                text = text.replace(/\$/g, '<br>');
                var resultElement = document.getElementById("para1");
                resultElement.innerHTML = text;
                var paragraph = document.getElementById("para2");
                var text = paragraph.innerHTML;
                text = text.replace(/\$/g, '<br>');
                var resultElement = document.getElementById("para2");
                resultElement.innerHTML = text;
                var paragraph = document.getElementById("para3");
                var text = paragraph.innerHTML;
                text = text.replace(/\$/g, '<br>');
                var resultElement = document.getElementById("para3");
                resultElement.innerHTML = text;
                var paragraph = document.getElementById("para4");
                var text = paragraph.innerHTML;
                text = text.replace(/\$/g, '<br>');
                var resultElement = document.getElementById("para4");
                resultElement.innerHTML = text;
                var paragraph = document.getElementById("para5");
                var text = paragraph.innerHTML;
                text = text.replace(/\$/g, '<br>');
                var resultElement = document.getElementById("para5");
                resultElement.innerHTML = text;
                var paragraph = document.getElementById("para6");
                var text = paragraph.innerHTML;
                text = text.replace(/\$/g, '<br>');
                var resultElement = document.getElementById("para6");
                resultElement.innerHTML = text;
                var paragraph = document.getElementById("inp1");
                var text = paragraph.innerHTML;
                text = text.replace(/\$/g, '<br>');
                var resultElement = document.getElementById("inp1");
                resultElement.innerHTML = text;
                var paragraph = document.getElementById("inp2");
                var text = paragraph.innerHTML;
                text = text.replace(/\$/g, '<br>');
                var resultElement = document.getElementById("inp2");
                resultElement.innerHTML = text;
                var paragraph = document.getElementById("inp3");
                var text = paragraph.innerHTML;
                text = text.replace(/\$/g, '<br>');
                var resultElement = document.getElementById("inp3");
                resultElement.innerHTML = text;
            });
        </script>
    </body>
</html>
